## Lesson 6 - Introduction to Python

## Lists, Tuples, Dictionaries, and Aliasing

A <b>list</b> is an ordered sequence of values, where each value is identified by an index that starts with 0.  The syntax for expressing literals of type list is similiar to that used for tuples; the difference is that we use square brackets rather than parentheses.  The empty list is written as [].

#### Indexing:  
An item can be accessed in numerical order, starting at 0. This is important, because most things in Ptyhon start with an index at 0 and not 1! The list can contain many items.  Here is how to put items in a list.

In [80]:
list_of_items = ['I','did', 'it', 'all', 4, 'for the AIA']

Accessing the items at index 0.

In [6]:
list_of_items[0]

'I'

Accessing the items at index 1.

In [7]:
list_of_items[1]

'did'

Accessing the items at index 5.

In [8]:
list_of_items[5]

'for the AIA'

### A Special Note On Negative Indexing
Negative indexing means beginning from the end, -1 refers to the last item, -2 refers to the second last item etc.

In [79]:
print(list_of_items[-1])
print(list_of_items[-2])

for the AIA
4

## Range of Indexes
You can specify a range of indexes by specifying where to start and where to end the range. <br><br><b>IMPORTANT:</b> The first value is inclusive, and second value in the index is always exclusive.

In [86]:
list_of_items[2:4]

['it', 'all']

The first value is inclusive, and second value in the index is always exclusive. So this code produces the same value.

In [89]:
list_of_items[2:3]

['it']

## For loops and lists
Use a for loop to access each items in the list

In [9]:
for item in list_of_items:
    print(item)

I
did
it
all
4
for the AIA

### Empty Lists
This is how to declare an empty list

In [10]:
empty_list = []

In [11]:
empty_list

[]

### Lists of Lists
Lists can be composed of lists of lists.

In [32]:
evens = [2, 4, 6]
odds  = [1, 3, 5]

numbers1 = [evens, odds]
numbers2 = [[2, 4, 6], [1, 3, 5]]

In [33]:
print('numbers1 = ', numbers1)
print('numbers2 = ', numbers2)
print(numbers1 == numbers2)

numbers1 =  [[2, 4, 6], [1, 3, 5]]
numbers2 =  [[2, 4, 6], [1, 3, 5]]
True

## Aliasing and Methods
This is extremely important, but it's not often covered in many courses.  What goes on underneath the hood in Python could have unintended consequences in your code!

### id() Function in Python - id(object)

Two objects with non-overlapping lifetimes may have the same id() value. If we relate this to C, then they are actually the memory address, here in Python it is the unique id. This function is generally used internally in Python.

In [34]:
# test to compare the object id's of both lists

print(id(numbers1))
print(id(numbers2))

2077319195144
2077319218568

In [35]:
id(numbers1) == id(numbers2)

False

<b>Why does this matter?</b> -- <b>Lists are mutable!</b>
Consider this operation:

In [36]:
print(evens)

#DO NOT WRITE evens = evens.append(8)
evens.append(8)

print(evens)

[2, 4, 6]
[2, 4, 6, 8]

We were able to append an 8 to the list! But what happens to <b>numbers1</b> and <b>numbers2</b>?

In [37]:
print('numbers1 = ',numbers1)
print('numbers2 = ',numbers2)

numbers1 =  [[2, 4, 6, 8], [1, 3, 5]]
numbers2 =  [[2, 4, 6], [1, 3, 5]]

There are two distinct paths to the lists above.  One is through the list <b>evens</b> and the other is through <b>numbers1</b> which it is bound to.  The affects of mutating one will be visible in the other. Be careful!  Unintentional aliasing leads to programing errors that are often enormously hard to track down!

In [38]:
for num in numbers1:
    print (num)

[2, 4, 6, 8]
[1, 3, 5]

### Using List Methods
Python has a set of built-in methods that you can use to manipulate lists.

Adding lists with the <b>+</b> sign.

In [39]:
odds_and_evens = odds + evens

print(odds)
print(evens)
print('')
print(odds_and_evens)

[1, 3, 5]
[2, 4, 6, 8]

[1, 3, 5, 2, 4, 6, 8]

Adding lists with <b>extend</b>:  Adds contents to List2 to the end of List1

In [40]:
odds.extend(evens)

print(odds)

[1, 3, 5, 2, 4, 6, 8]

Adding lists with <b>append</b>:  Used for appending and adding elements to List

In [41]:
odds.append(evens)

print(odds)

[1, 3, 5, 2, 4, 6, 8, [2, 4, 6, 8]]

Reversing the order of lists using <b>reverse</b>.

In [49]:
odds.reverse()
print(odds)

[[8, 6, 4, 2], 8, 6, 4, 2, 5, 3, 1]

Sorting a list using <b>sort</b>:  Used for sorting the elements of a list in ascending order.

In [53]:
print(evens)
evens.sort(reverse=True)
print(evens)

[8, 6, 4, 2]
[8, 6, 4, 2]

### Other List Methods

- <b>L.append(e)</b> adds the object e to the end of L.
- <b>L.count(e)</b> returns the numbre of times that e occurs in L. 
- <b>L.insert(i,e)</b> inserts the object e into L at index i. 
- <b>L.extend(L1)</b> adds the items in list L1 to the end of L. 
- <b>L.remove(e)</b> deletes the first occurance of e from L.
- <b>L.index(e)</b> returns the index of the first occurence of e in L, raises an exception if e is not in L. 
- <b>L.pop(i)</b> removes and returns the item at index i in L, raises an exception if L is empty.  If i is omitted, it defaults to -1, to remove and return the last element of L.
- <b>L.sort()</b> sorts the elements of L in ascending order. 
- <b>L.reverse()</b> reverses the order of the elements in L.

### List Comprehension
<b>List Comprehension</b> provides a concise way to apply an operation to the values in a squence.  It creates a new list in which each element is the result of applying a given operation to a value from a sequence (e.g. the elements in an other list.)

This code computes the square of every integer in the range 1 to 7. The values are assigned to a list named <b>list_of_squares</b>.

<b>List appended using a for loop, using 3 lines of code.</b>

In [61]:
list_of_squares = []

for x in range (1,7):
    list_of_squares.append(x)
    
print(list_of_squares)

[1, 2, 3, 4, 5, 6]

<b> List appended using List Comprehension, using 1 line of code</b>

In [63]:
list_of_squares = [x**2 for x in range (1,7)]

print(list_of_squares)

[1, 4, 9, 16, 25, 36]

<b>Using List Comprehension to Find Common Values in Two Lists

In [64]:
list_A = ['A','B','C','D',  'E','F','G']
list_B = ['A','B','C','D',  'X','Y','Z']

In [66]:
list_C = [letter for letter in list_A if letter in list_B]
list_C

['A', 'B', 'C', 'D']

<b>Using List Comprehension to Find Uncommon Values in Two Lists

In [69]:
list_D = [letter for letter in list_A if letter not in list_B]
list_E = [letter for letter in list_B if letter not in list_A]

print(list_D)
print(list_E)

['E', 'F', 'G']
['X', 'Y', 'Z']

### Creating a New List of Squares From a List of Mixed Types of Variables
This code squares the integers in the list if they are of type int. The list is called <b>mixed</b> and it has a string value in single quotes of the value <b>a</b>.

In [71]:
mixed = [1, 2, 'a', 3, 4.0]
squared_mixed = [x**2 for x in mixed if type(x) == int]
squared_mixed

[1, 4, 9]

## Dictionaries

Objects of type <b>dict</b> (short for dictionary) are like lists except that we index them using <b>keys</b>.  Think of a dictionary as set of key/value pairs.  Literals of type dict are enclosed in curly braces, and each element is written as a key followed by a colon followed by a value.  

<b>PLEASE NOTE:</b> Unlike lists, the entries in a <b>dict</b> are unordered and cannot be accessed with an index.  That's why <b>month_numbers[1]</b> unanbiguously refers to the entry with the key 1 rather than the second entry.

Creating a dictionary with values.

In [72]:
month_numbers = {'Jan':1, 'Feb':2, 'Mar':3, 'Apr':4, 'May':5,
                1:'Jan', 2:'Feb', 3:'Mar', 4:'Apr', 5:'May'}

Accessing an item by name in the dictionary

In [92]:
print('The third month is ' + month_numbers[3])

The third month is Mar

Accessing the integer items by name in the diciotnary.

In [93]:

dist = month_numbers['Apr'] - month_numbers['Jan']
print('Apr and Jan are', dist, 'months apart')

Apr and Jan are 3 months apart

### For Loops and Dictionaries

Using the for loop to print the keys in a dictionary

In [94]:
for key in month_numbers:
    print(key)

Jan
Feb
Mar
Apr
May
1
2
3
4
5

Using a for loop to print the values contained in each key of the dictionary.

In [97]:
for key in month_numbers:
    
    value = month_numbers[key]
    print(value)

1
2
3
4
5
Jan
Feb
Mar
Apr
May

### Dictionary Methods

- <b>len(d)</b> returns the number of items in d.
- <b>d.keys()</b> returns a view of the keys in d. 
- <b>d.values()</b> returns a view of the values in d. 
- <b>k in d</b> returns True if key k is in d. 
- <b>d[k]</b> returns the item in d with key k.
- <b>d.get(k,v)</b> returns d[k] if k is in d, and v otherwise. 
- <b>d[k] = V</b> v associates the value v with the key k in d.  If there is already a value associated with k, that value is replaced. 
- <b>del d[k]</b> removes the key k from d. 
- <b>for k in d</b> iterates over the keys in d.

## Tuples
A tuple is a squence of elements which is ordered and <b>unchangeable, like strings.  However, unlike strings, they need not be characters.</b> In Python literals of type tuple are written with round brackets enclosing a comma-separated list of elements.

In [109]:

tuple1 = ('Ben', 'Gonzales')
tuple2 = ('Past','President')
tuple3 = ('and') 
tuple4 = ('Founder') 
tuple5 = ('of')
tuple6 = ('AIA', 'Global')

In [114]:
print(tuple1,tuple2,tuple3,tuple4,tuple5,tuple6)

('Ben', 'Gonzales') ('Past', 'President') and Founder of ('AIA', 'Global')

Notice from the print statement above, that the values <b>and</b> , <b>Founder </b> , and <b>of</b> were evaluated as strings and not tuples.  If you have less than two items in the round brackets, Python will evaluate to the type of that item, as the following code also demonstrates using the <b>type</b> command.

In [120]:
print(type(tuple1))
print(type(tuple3))

<class 'tuple'>
<class 'str'>

<b>Combining tules:</b> We can create two tuples within a tuple.

In [121]:
combined_tuple=(tuple1,tuple2)

print(combined_tuple)

(('Ben', 'Gonzales'), ('Past', 'President'))

### Indexing with Tuples

Indexing with tuples is similar to lists. You have to access each item in the list. Just like lists of lists, you could drill down further as well.

Find the first item in the tuple, which is another tuple.

In [122]:
combined_tuple[0]

('Ben', 'Gonzales')

Find the second item in the tuple, which is another tuple.

In [129]:
combined_tuple[1]

('Past', 'President')

His first name is the first item in the first item in the combined tuple.  It's of type string or <b>str</b>.

In [135]:
first_name = combined_tuple[0][0]

print(first_name)
print(type(first_name))

Ben
<class 'str'>

His last name is the second item in the first item of the combined tuple. It's also of type string or <b>str</b>.

In [136]:
last_name = combined_tuple[0][1]

print(last_name)
print(type(last_name))

Gonzales
<class 'str'>

Now we can create a new string called <b>full_name</b> that has Ben's full name.  We can print it, and it's also of type string.

In [138]:
full_name = combined_tuple[0][0]+' '+combined_tuple[0][1]

print(full_name)
print(type(full_name))

Ben Gonzales
<class 'str'>

### Multiple Assignment With Tuples
Python makes it easy to assign multple variables at the same time.

In [140]:
x, y, z = (1, 2, 3)

print(x)
print(y)
print(z)

1
2
3

### For Loop on Tuples

In [141]:
for item in combined_tuple:
    print(item)

('Ben', 'Gonzales')
('Past', 'President')

### Nexted For Loop to Extact Each Item in the Tuple

In [142]:
for item in combined_tuple:
    for name in item:
        print(name)

Ben
Gonzales
Past
President